%message {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.blue {
  @extend %message;
  background-color: steelblue;
}
.green {
  @extend %message;
  background-color: teal;
}
.head {
  @extend %message;
  background-color: rgb(248, 76, 63);
}
