$color: blue;

p {
  color: red;
}
ul {
  font-size: 14px;
  color: $color;
}

ol {
  font-size: 18px;
  color: $color;
}

div {
  font-size: 18px;
  p {
    color: blue;
  }

  ul,
  ol {
    color: green;
  }
}
