@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Smooch&display=swap");
main {
  margin: 6px auto;
  width: 600px;
  padding: 6px;
}

img {
  width: 200px;
}

header {
  text-align: center;
}
